body{
    /* background-color:rgb(172, 149, 115);
    display: flex;
    height:100vh;
    width:100vw;
    justify-content: center;
    align-items: center; 
    */
    height:100vh;
    width:100vw;
    display:grid;
    grid-template-columns: max-content max-content max-content;
    grid-template-rows: max-content ;
    gap:10px
}
#c1{
    display:grid;
    grid-template-columns: max-content;
    grid-template-rows: max-content max-content;
    gap:10px
}
#c2{
    display:grid;
    grid-template-columns: max-content;
    grid-template-rows: max-content;
}
#c3{
    display:grid;
    grid-template-columns: max-content;
    grid-template-rows: max-content max-content;
    gap:10px
}
.img{
    height: fit-content;
    width:fit-content;
    /* border:black solid */
}
/* #img1{
    grid-column-start: 3;
} */
/* #img2{
    object-fit:cover;
    overflow: hidden;
} */
#user{
    /* border:black solid; */
    height:750px;
    width:480px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
    background-color: white;
    /* grid-column-start: 2;
    grid-column-end: 3;
    grid-row:1/2; */
}
#signIn{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: xx-large;
    font-weight: 900;
    gap:20px;
}
.todo{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: medium;
    display: grid;
    grid-template-columns: 300px max-content max-content;
    grid-template-rows: max-content;
    gap:5px;
    text-align: left;
    width:480px;
}
.boundary{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 900;
    /* background-color: rgb(225, 208, 224); */
}
.line{
    width:480px;
    height:1px;
    background-color: black;
}
#anotherLieDiv{
    display:flex;
    width:480px;
   gap:5px;
   justify-content: center;
}
#signInBox{
    display:flex;
    flex-direction: column;
    gap:10px;
    align-items: center;
    font-size:xx-large;
    font-weight: 900;
    font-family:cursive;
    background-color: rgb(225, 208, 224);
    padding:10px;
    width:300px;
}
.errorMessage{
    font-size: large;
    font-weight: bold;
}
